/**
* DO NOT ADD APP-RELATED STYLES HERE
*/

html,
body {
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
